
.textCardMargin{
    margin-top: 7px;
    line-height: 140%;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0rem;
    margin-left: 16px;
}
.MuiInput-underline:before {
    display: none;
}

.MuiInput-underline:after {
    display: none;
}
.selected-row { background-color: rgba(242,242,242,0.5)}

.btn {
    margin-right: 1rem;
}